@import url('https://fonts.googleapis.com/css?family=Lato:300|Raleway:300');

:root {
    --cor-texto: #313131;
}
html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #313131;
    transition: 0.1s;
}

main {
    width: 1000px;
    padding: 20px;
    margin: 0 auto;
    text-align: justify;
    font-family: 'Raleway', sans-serif;
    font-size: 17px;
    transition: 0.2s;
}

h2 {
    font-family: 'Lato', sans-serif;
    font-size: 30px;
    font-weight: 300;
    text-align: center;
}

main hr {
    border: 0;
    border-top: 0.8px solid gray;
}

p {
    line-height: 200%;
    text-indent: 50px;
}
button.toogle-personalizar {
    position: fixed;
    left: 5px;
    float: left;
    width: 35px;
    height: 35px;
    margin-top: 2px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: transparent;
    color: #313131;
    cursor: pointer;
    outline: none;
}
.personalizar {
    text-align: center;
    position: fixed;
    left: 5px;
    float: left;
    display: inline-block;
    margin-top: 37px;
}
.grupo {
    width: 74.5px;
}

button.cor-fundo {
    width: 35px;
    height: 35px;
    margin-top: 2px;
    border: 2px solid silver;
    border-radius: 10px;
    cursor: pointer;
    outline: none;
}
/*button.cor-fundo:last-child {*/
/*   width: 74.5px;*/
/*}*/
button.tamanho-font, button.largura, button.espacamento {
    width: 35px;
    height: 35px;
    margin-top: 2px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: transparent;
    color: #313131;
    cursor: pointer;
    outline: none;
}
button.restaurar {
    width: 100%;
    height: 35px;
    margin-top: 2px;
    border: 1px solid silver;
    border-radius: 10px;
    background-color: #05AF92;
    cursor: pointer;
    outline: none;
}
.cor-fundo.branco {
    background-color: #fff;
}
.cor-fundo.amarelo {
    background-color: #fdf6e4;
}
.cor-fundo.vinho {
    background-color: rgb(128, 0, 0);
}
.cor-fundo.escuro {
    background-color: #313131;
}
.capitulos {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    display: inline-block;
}
button.muda-capitulo { /*  Buttons de Anterior/Próxmo   */
    width: 140px;
    height: 40px;
    padding: 0;
    border: 0.5px solid #313131;
    border-radius: 5px;
    background-color: transparent;
    color: #313131;
    cursor: pointer;
    outline: none;
    transition: 0.05s;
}
button.muda-capitulo:hover {
    background: linear-gradient(rgba(128,128,128,0.2), rgba(128,128,128,0.1));
}
button.muda-capitulo:active {
    box-shadow: inset 0 0 2px 0.02em #313131;
}

select.muda-capitulo {
    width: calc(100% - 600px);
    height: 40px;
    padding: 5px;
    border: 0.5px solid #313131;
    border-radius: 5px;
    background-color: transparent;
    color: #313131;
    outline: none;
}
select.muda-capitulo option {
    color: #313131;
}

@media (max-width: 999.98px) {
    main {
        width: calc(100% - 40px) !important;
    }
    h2 {
        font-size: 26px;
    }
}
@media (max-width: 744px) {
    select.muda-capitulo {
        width: calc(100% - 2px);;
        margin: 2px;
    }
    button.muda-capitulo:first-child {
        position: absolute;
        width: calc(50% - 22px);
        margin: 2px;
        float: left;
        margin-top: 44px;
    }
    button.muda-capitulo:last-child {

        width: calc(50% - 2px);
        float: right;
        margin-right: 0;
    }
}



.nao-selecionavel {
  -webkit-touch-callout: none;  /* iPhone OS, Safari */
  -webkit-user-select: none;    /* Chrome, Safari 3 */
  -khtml-user-select: none;     /* Safari 2 */
  -moz-user-select: none;       /* Firefox */
  -ms-user-select: none;        /* IE10+ */
  user-select: none;            /* Possível implementação no futuro */
}




























